@import './reset.css';

:root {
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --bg-1: linear-gradient(90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%);
  --bg-2: #161a2b;
 
  --bg-4: linear-gradient(90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%);
  --bg-5: linear-gradient(90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%);
  --bg-6: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  --bg-7: linear-gradient(90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%);


  --c-1: #fff;
  --c-2: #e2e2e2;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--bg-1);
  color: var(--c-1)
}